*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: left;
}
.content h1{
    font-size: 100px;
    color: #fff;
    font-weight: 200;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#title_box{
color:#fff;
text-align: left;
font-size:medium;
}
#error{
    color:#fff;
    font-size:50px;
}
