*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 20, 20, 0.7);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1 {
    font-size: 60px; /* Adjust the font size as needed */
    color: #fff;
    font-weight: 500;
}
.content input[type="submit"] {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
    background: transparent;
}
.content input[type="submit"]:hover {
    background-color: #fff;
    color: black;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio: 16/9) {
     .back-video{
      width: 100%;
      height: auto;
    }
} 
@media (min-aspect-ratio: 16/9) {
    .back-video{
      width: auto;
      height: 100%;
    }
}
.side-gif {
    position:absolute;
    top: 60%;
    
    transform: translateY(-70%);
    z-index: -10;
}
.side-gif {
    position:fixed;
    top: 40%;
    right: 25%; /* Adjust the right position as needed */
    transform: translateY(-40%);
    z-index: -1;
    width: 50%; /* Adjust the width as needed */
}

#cooked{
color:red;
font-size: 40px;
}
#homepage{
    border: 3px rgb(0, 0, 0);
    height:40px;
    width:300px;
    position:fixed; left:10px; top:20px;
    background-color: rgb(96, 245, 123);
    font-size: large;
    font-weight: bold;
}