*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 120px;
    color: #fff;
    font-weight: 500;
}
.content input{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.3s;
    background-color: grey;
}
.content input:hover{
    background-color: #fff;
    color: black;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio: 16/9) {
     .back-video{
      width: auto;
      height: 100%;
    }
} 
@media (min-aspect-ratio: 16/9) {
    .back-video{
      width: 100%;
      height: auto;
    }
}
